/* Windows layout  */


* {
  background-color: rgb(250, 232, 232);
    
}

body {
  max-width: 1200px;
  
}



.topbox {
  height: 100px; 
  max-width: 960px;
  background-color: burlywood;
   
}

.boxa {

}

.mainbox{
  display: flex;
  max-width: 960px;
  outline: dotted 3px blue;
}

.boxb {
  flex: 1;
  height: 600px;
  background-color: thistle;
}

.boxc {
  flex: 2;
  height: 200px; 
  background-color: skyblue;
}

.boxd {
  flex: 2;
  height: 200px;
  margin: 0 auto;
  background-color: wheat;
}

.sectionbox {
  outline: 3px dotted blue;
  display: flex;
  margin: auto;
  max-width: 768px;
  
}
.boxe {
  flex: 1;
  height: 250px;
  background-color: seagreen;
  
}
.boxf {
  flex: 1;
  height: 250px;
  background-color: greenyellow;
 
}
.boxg {
  flex: 1;
  height: 250px;
  background-color: lightseagreen;

}
.boxh {
  flex: 1;
  height: 250px;
  background-color: lawngreen;
 
}

.footerbox {
  display: flex;
  max-width: 760px;
  align-content: flex-start;
   
}

.boxi {
  flex: 1;
  
  height: 150px;
  background-color: maroon;
}


  /* Code to get the Paragraph to line up correctly - 
  https://stackoverflow.com/questions/5703552/css-center-text-horizontally-and-vertically-inside-a-div-block 
  
  */
  p {
    background-color: transparent;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }

/*  start of iPad Pro code   1024 x 1036    */
/* @media only screen and (max-width: 1024px) {

  * {
    font-size: large;
    width: 1024px;
    margin: 0px auto;
    background-color: rgb(128, 0, 128)
  }



} */

/* start of mobile code  Galaxy S5 360 x 640  */

@media only screen and (max-width: 480px) {

* {
  font-size: large;
  width: 480px;
  background-color: wheat;
}

header > div > p{
  width: 480px;
  margin: 0px auto;
  text-align: center;
}

p {
  background-color: transparent;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

section > div > p{
  width: 100%;
}

#boxa {
  height: 75px;
}

#boxb {
  height: 150px;
}

#boxc {
  height: 125px;

}
#boxd {
  height: 125px;
}

#boxe {
  height: 250px;
  width: 50%;
}

#boxf {
  height: 250px;
  width: 50%;
}

#boxg{
  height: 250px;
  width: 50%;
 }

#boxh {
  height: 250px;
  width: 50%;
 
}

footer {
  margin: 0px auto;
  height: 80px;
}
 

/* end of mobile format */
}

