


/* Start mobile styel */

@media only screen and (max-width: 760px) {

* {
  box-sizing: border-box;
  position: relative;
}

#boxe {
  float: left;
  display: flex;
  flex-wrap: wrap;
}

#boxf {
  float: right;
}

#boxg{
  float: left;
}

#boxh {
  float: right;
}

footer {
  display: inline-block;
}

}