/* 
Wrapper around Body
  Child - topbox
            grandkid - boxa
          mainbox
            grandkid - box b - d
          sectcionbox
            grandkid - box e - h
          footerbox
            grandkid - box i



*/


* {
  background-color: rgb(250, 232, 232);
    
}

body {
  /* box-sizing: border-box; */
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  outline: 2px solid black;
}
p {
  font-size: xx-large;
  align-items: center;
}
.topbox {
  flex: 1;
  /* padding: 20px; */
  width: 960px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  /* outline: 3px red dashed; */
}
.boxa {
  flex: 1;
  width: 960px;
  border: 3px solid grey;
}

.mainbox{
  flex: 1;
  order: 1;
  /* padding: 20px; */
  display: flex;
  /* width: 760px; */
  margin: 0 auto;
  align-items: flex-start;
  align-self: auto;
  /* outline: dotted 3px blue; */
}

.boxb {
  flex: 1;
  border: 3px solid grey;
  width: 200px;
  height: 600px;
}
.boxc {
  flex: 1;
  border: 3px solid grey;
  width: 380px;
  height: 200px;
}

.boxd {
  flex: 1;
  border: 3px solid grey;
  width: 380px;
  height: 200px;
}

.sectionbox {
  flex: 1;
  order: 2;
  margin: auto;
  /* padding: 20px; */
  /* justify-content: left; */
  /* align-self: auto; */
  display: flex;
  /* width: 760px; */
  /* flex-wrap: wrap; */
  /* justify-content: flex-start; */
  outline: 3px dashed violet;
}
.boxe {
  flex: 1;
  /* border: 3px solid grey; */
  width: 190px;
  height: 250px;
  /* align-self: auto; */
  /* flex-grow: 1; */
  outline: 3px dashed red;
}
.boxf {
  flex: 1;
  /* border: 3px solid grey; */
  width: 190px;
  height: 250px;
  /* flex-grow: 1; */
  outline: 3px dashed red;
}
.boxg {
  flex: 1;
  /* border: 3px solid grey; */
  width: 190px;
  height: 250px;
  /* flex-grow: 1; */
  outline: 3px dashed red;
}
.boxh {
  flex: 1;
  /* border: 3px solid grey; */
  width: 190px;
  height: 250px;
  /* flex-grow: 1; */
  outline: 3px dashed red;
}




.footerbox {
  /* padding: 20px; */
  flex: 1;
  order: 3;
  
  display: flex;
  width: 760px;
  margin: 0 auto;
  /* outline: 3px double green; */
}

.boxi {
  flex: 1;
  border: 3px solid grey;
  height: 150px;
}
